* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






.container_artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 5%;
}

.card {
    width: 15rem;
    margin-bottom: 30px;
}

.navbar-expand-lg {
    padding-inline: 1.9%;
}

.alin-nav-art{
    justify-content: space-between;
    align-items: center;
    margin-inline: 3%;
    margin-top: 1%;
}

.filtro {
    list-style: none;
    float: left;
    margin-bottom: 0;
}

.conteudo-artigo{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

.artigo-autor a {
 text-decoration: none;
 color: #000000;
}

.texto-e-sugestoes {
    display: flex;
}

.artigo-texto {
    margin-right: 5%;
}

.artigo-texto a {
    text-decoration: none;
}

.artigo-sugestoes{
    margin-top: 100px;
}
    

@media screen and (max-width: 550px) {
.card {
    width: auto;
}
}